body {
  Font-family : Space Mono;
  Color : White;
  Padding : 30px;
  Text-align : center;
}

h1, h2, h3 {
  Font-family : Space Grotesk;
  Color : #F2BE22;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-blue {
  Background-color : #0E8388;
  Border-radius : 5px;
  padding : 20px;
  margin : 25px auto;
  width : 85%;
  border : 1px solid #EAEAEA;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);

}

li {
  Display : inline;
}

ul {
  Padding : 0px;
}

a {
  Text-decoration : none;
  Font-size : 18px;
  Font-weight : bold;
  Transition : 0.3s ease;
  color : #F29727;
  padding: 10px;
  background-color: #EAEAEA;
  border-radius : 5px;
}

a:hover {
  Color: #FC4F00;

}

#profile-pic {
  width : 200px;
  height : 200px;
  border-radius : 50%;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
